.entity {
  position: absolute;
  width: 13%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: none;
}

.collectible {
  --meret: 4;
  aspect-ratio: 1/1;
  z-index: 5;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

img {
  user-select: none;
}

.mirror {
  transform: scaleX(-1);
}

@media (max-width: 480px) {
  .collectible {
    --meret: 8;
  }

  .entity {
    width: 25%;
  }
}